node_modules
/dist

# local env files
.env
.env.local
.env.*.local
.env.*
mail.properties
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# BackEnd
BackEnd/MongsilDesk/mongdok.sh
BackEnd/MongsilDesk/Dockerfile
*.classpath
*.project
*.prefs
*.p12
*.class
*.MF
*.properties
*.springBeans
.settings/
target/
HELP.md
