@import "vars";

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

.kyoboHand{
  font-family: 'KyoboHand' !important;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3vmin;
}

h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2vmin;
    font-weight: 700;
}

h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1vmin;
    font-weight: 600;
}

// 부모가 relative일 때 떠다니도록
.floating {
    position: absolute;
    z-index: 10;
}

// 전체 화면을 덮는 형태
.covering {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
}

 // 애니메이션 키프레임 효과
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-10px) rotate(-6deg);
            transform: translateX(-10px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(7px) rotate(6deg);
            transform: translateX(7px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-7px) rotate(-3.6deg);
            transform: translateX(-7px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(5px) rotate(2.4deg);
            transform: translateX(5px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3px) rotate(-1.2deg);
            transform: translateX(-3px) rotate(-1.2deg);
  }
}

