@import "vars";

* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

.kyoboHand{
  font-family: 'KyoboHand' !important;
}

h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3vmin;
}

h2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2vmin;
    font-weight: 700;
}

h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1vmin;
    font-weight: 600;
}

// 부모가 relative일 때 떠다니도록
.floating {
    position: absolute;
    z-index: 10;
}

// 전체 화면을 덮는 형태
.covering {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
}

